name: Check eddist-main

on:
  push:
    branches-ignore:
      - main

jobs:
  check-rust:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v2
      - name: Load cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-check-${{ hashFiles('**/Cargo.lock') }}
      - name: Clippy check
        run: cargo clippy
      - name: Cargo test
        run: cargo test

  build-client:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
          version: "latest"
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache-dependency-path: |
            pnpm-lock.yaml
            eddist-server/client-v2/pnpm-lock.yaml
            eddist-admin/client/pnpm-lock.yaml
      - name: Install pnpm dependencies
        run: pnpm install && pnpm -F eddist-client-v2 install
      - name: Check eddist-client-v2
        run: pnpm -F eddist-client-v2 typecheck
      - name: Build eddist-admin-client
        run: pnpm -F eddist-admin-client build
      - name: Check eddist-admin-client
        run: pnpm -F eddist-admin-client typecheck
